p{
    font-size: 18px;
    font-family: monospace ;
    color: indigo;
    background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1612806102_2-p-abstraktnii-fon-svetlii-goluboi-dlya-preze-2.jpg);
}
h1{
    background-color: black;
    color: aqua;
}