body{
    background-color: black;
    background-image: url(https://top-fon.com/uploads/posts/2022-09/1663560193_100-top-fon-com-p-matritsa-serii-fon-foto-115.jpg);
    color:aliceblue;
    font-family: inherit;
    background-repeat: no-repeat;
    font-size: 90%;
}