h1{
    color:rgb(7, 7, 187);
}
.class1{
    font-size: 34px;
    color:rgb(156, 156, 4)
}
.classmin{
    font-size: 20px;
}
body{
    background-image: url("https://bigfoto.name/uploads/posts/2021-11/1636390115_71-bigfoto-name-p-neitralnii-sinii-fon-77.jpg")
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}